body {
    background-color: darkgray;
}

.welcome-note {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 0px;
}

span {
    color: #fff;
}

.name {
    color: lightgreen;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
}

.short-notice {
    color: rgb(66, 109, 80);
    font-family: 'Libre Baskerville', serif;
    font-family: 'The Nautigal', cursive;
    font-size: 35px;
    margin-left: 150px;
    margin-top: 0px;
    padding-top: 0px;
}

p {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

section {
    display: flex;
    border-bottom: 5px solid rgb(220, 168, 168);
    margin: 0%;
    padding: 0%;
}

.half-width {
    width: 50%;
}

.half-width image {
    width: 100%;
}

.hire-button {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    background-image: linear-gradient(to bottom right, black, gray);
    text-decoration: none;
    border-bottom: 0.5px solid #fff;
    border-top: 0.5px solid #fff;
    margin: 15px;
    padding: 10px 40px;
}

.last {

    text-align: right;
}